{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}
<style>
    body {
        background-image: url("{% static 'fontaine.webp' %}");
        background-size: cover; /* Adjust to your preference */
        background-repeat: no-repeat;
        background-attachment: fixed; /* Keeps the background fixed while scrolling */
    }

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        margin: auto;
    }

    .login {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        padding: 30px;
        width: 450px;
    }
</style>

<div class="login-container">
    <div class = "login">
        <h2>Welcome Traveler !</h2>
        <h6>Please input your username and password !</h6>
    
        <img class="centered-image" src="{% static 'paimon_wave.webp' %}" width="200">
        <br>
        <form method="POST" action="">
            {% csrf_token %}
            <table style="margin-left: auto; margin-right: auto;">
                <tr>
                    <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                </tr>
                        
                <tr>
                    <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                </tr>
            </table>
            <br>
            <div class="centered-container">
                <input class="button blue-button" type="submit" value="Login">
            </div>
        </form>
    
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
        <br>
        <div style="text-align: center;">
            <a>Don't have an account yet?</a> 
            <a href="{% url 'main:register' %}">Register Now</a>
        </div>
    </div>
</div>

{% endblock content %}