{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Register</title>
{% endblock meta %}

{% block content %}

<style>
    body {
        background-image: url("{% static 'travelers.jpg' %}");
        background-size: cover; /* Adjust to your preference */
        background-repeat: no-repeat;
        background-attachment: fixed; /* Keeps the background fixed while scrolling */
    }

    .register-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        margin: auto;
    }

    .register {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        padding: 30px;
        width: 400px;
    }
</style>

<div class="register-container">
    <div class="register">

        <h1 style="text-align: center;">Register</h1>
        <h5>Create your username and password !</h5>
    
        <form method="POST">
            {% csrf_token %}
            <table>
                {% for field in form %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                </tr>
                <!-- Menampilkan pesan kesalahan untuk field ini jika ada -->
                {% if field.errors %}
                <tr>
                    <td></td>
                    <td>
                        <ul>
                            {% for error in field.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                <tr>
            </table>
            <br>
            <div class="centered-container">
                <input id="blue-button" type="submit" name="submit" value="Register"/>
            </div>
        </form>
    
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        
        <br>
        <a href="{% url 'main:login' %}">
            <div class="centered-container">
                <button id="blue-button" style="width: 30%;">
                Back
                </button>
            </div>
        </a>
    </div>
</div>

{% endblock content %}

<!-- <div class="centered-container">
    <input id="login-button" type="submit" value="Login">
</div> -->